## Data handling

In [1]:
import pandas as pd
import numpy as np

In [2]:
print(pd.__version__)

2.0.1

### Read/Write JSON

In [31]:
import json
with open("book_details.json","r") as file:
    books = json.loads(file.read())
    print(books[0])
    print(books[0]['Title'])

{'Upc': '9528d0948525bf5f', 'Title': 'Birdsong: A Story in Pictures', 'Price': 'Â£54.64', 'Rating': 'Three', 'Stock': 'In stock', 'Stock_Qty': '19', 'Url': 'http://books.toscrape.com/catalogue/birdsong-a-story-in-pictures_975/index.html', 'Image': 'http://books.toscrape.com/media/cache/af/6e/af6e796160fe63e0cf19d44395c7ddf2.jpg'}
Birdsong: A Story in Pictures

#### Using pandas

In [23]:
bookJson = pd.read_json("book_details.json")

In [24]:
type(bookJson)

pandas.core.frame.DataFrame

In [34]:
bookJson.shape

(29, 8)

In [25]:
print(dir(bookJson))

['Image', 'Price', 'Rating', 'Stock', 'Stock_Qty', 'T', 'Title', 'Upc', 'Url', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__dataframe__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_sliced', '_create_data_for_split_and_tight_to_dict', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_from_arrays', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_getitem_nocopy', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reduce_axis1', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_to_dict_of_blocks', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isetitem', 'isin', 'isna', 'isnull', 'items', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

In [13]:
bookJson.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Upc        29 non-null     object
 1   Title      29 non-null     object
 2   Price      29 non-null     object
 3   Rating     29 non-null     object
 4   Stock      29 non-null     object
 5   Stock_Qty  29 non-null     int64
 6   Url        29 non-null     object
 7   Image      29 non-null     object
dtypes: int64(1), object(7)
memory usage: 1.9+ KB

In [12]:
bookJson.head()

,Upc,Title,Price,Rating,Stock,Stock_Qty,Url,Image
0,9528d0948525bf5f,Birdsong: A Story in Pictures,Â£54.64,Three,In stock,19,http://books.toscrape.com/catalogue/birdsong-a...,http://books.toscrape.com/media/cache/af/6e/af...
1,9f6568e9c95f60b0,The Bear and the Piano,Â£36.89,One,In stock,18,http://books.toscrape.com/catalogue/the-bear-a...,http://books.toscrape.com/media/cache/cf/bb/cf...
2,b5ea0b5dabed25a8,The Secret of Dreadwillow Carse,Â£56.13,One,In stock,16,http://books.toscrape.com/catalogue/the-secret...,http://books.toscrape.com/media/cache/c4/a2/c4...
3,37c0cb19713d8dda,The White Cat and the Monk: A Retelling of the...,Â£58.08,Four,In stock,15,http://books.toscrape.com/catalogue/the-white-...,http://books.toscrape.com/media/cache/26/32/26...
4,4aa03792b50f0b22,Little Red,Â£13.47,Three,In stock,15,http://books.toscrape.com/catalogue/little-red...,http://books.toscrape.com/media/cache/80/25/80...

In [8]:
bookJson.Title

0                         Birdsong: A Story in Pictures
1                                The Bear and the Piano
2                       The Secret of Dreadwillow Carse
3     The White Cat and the Monk: A Retelling of the...
4                                            Little Red
5                     Walt Disney's Alice in Wonderland
6                                          Twenty Yawns
7                                             Rain Fish
8                                       Once Was a Time
9                                 Luis Paints the World
10                                            Nap-a-Roo
11                                            The Whale
12    Shrunken Treasures: Literary Classics, Short, ...
13                                   Raymie Nightingale
14                               Playing from the Heart
15    Maybe Something Beautiful: How Art Transformed...
16                                       The Wild Robot
17                            The Thing About Jellyfish
18                                      The Lonely Ones
19              The Day the Crayons Came Home (Crayons)
20              The Cat in the Hat (Beginner Books B-1)
21               Red: The True Story of Red Riding Hood
22                                       Horrible Bear!
23             Green Eggs and Ham (Beginner Books B-16)
24                                       Counting Thyme
25                                    Are We There Yet?
26    Diary of a Minecraft Zombie Book 1: A Scare of...
27                                              Matilda
28    Charlie and the Chocolate Factory (Charlie Buc...
Name: Title, dtype: object

In [18]:
bookJson.iloc[2]

Upc                                           b5ea0b5dabed25a8
Title                          The Secret of Dreadwillow Carse
Price                                                   Â£56.13
Rating                                                     One
Stock                                                 In stock
Stock_Qty                                                   16
Url          http://books.toscrape.com/catalogue/the-secret...
Image        http://books.toscrape.com/media/cache/c4/a2/c4...
Name: 2, dtype: object

#### Writing JSON

In [36]:
dataSet=[]
dataSet.append({'hotel':'Hotel1','reviews':{'country':'UK','reviewcount':21,'rating':9.9,'positive':9,
               'negative':0,'stayDate':'2022-12-26'}}
              )
dataSet.append({'hotel':'Hotel2','reviews':{'country':'US','reviewcount':11,'rating':7.9,'positive':8,
               'negative':0,'stayDate':'2023-01-02'}}
              )

In [37]:
import json
with open("demo.json", "w") as file:
    json.dump(dataSet, file, indent=4, sort_keys=False)

### Read/Write CSV

In [38]:
import csv
def writeto_csv(data,filename,columns):
    with open(filename,'w+',newline='',encoding="UTF-8") as file:
        writer = csv.DictWriter(file,fieldnames=columns) #Column header
        writer.writeheader()
        writer = csv.writer(file)
        for element in data:
            writer.writerows([element])

In [39]:
holidays=[['2023-01-02', "New Year's Day"],
 ['2023-01-16', 'Martin Luther King, Jr. Day'],
 ['2023-02-20', "Washington's Birthday"],
 ['2023-04-07', 'Good Friday'],
 ['2023-04-07', 'Good Friday'],
 ['2023-05-29', 'Memorial Day'],
 ['2023-06-19', 'Juneteenth'],
 ['2023-07-04', 'Independence Day'],
 ['2023-09-04', 'Labour Day'],
 ['2023-10-09', 'Columbus Day'],
 ['2023-11-10', 'Veterans Day'],
 ['2023-11-23', 'Thanksgiving Day'],
 ['2023-12-25', 'Christmas Day']]

In [40]:
writeto_csv(holidays,'holidays.csv',['Date','Name'])

#### using pandas

In [ ]:
"""
category,image,no_review,price,rating,stock,title,upc,url
Poetry,http://books.toscrape.com/media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg,0,Â£51.77,Three,In stock,A Light in the Attic,a897fe39b1053632,catalogue/a-light-in-the-attic_1000/index.html
Historical Fiction,http://books.toscrape.com/media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f4a1c.jpg,0,Â£53.74,One,In stock,Tipping the Velvet,90fa61229261140a,catalogue/tipping-the-velvet_999/index.html
"""

In [41]:
books = pd.read_csv("books.csv",usecols=["category","price","rating","title"])

In [42]:
type(books)

pandas.core.frame.DataFrame

In [43]:
books.shape

(1000, 4)

In [44]:
books

,category,price,rating,title
0,Poetry,Â£51.77,Three,A Light in the Attic
1,Historical Fiction,Â£53.74,One,Tipping the Velvet
2,Poetry,Â£52.15,One,The Black Maria
3,Young Adult,Â£22.65,One,The Requiem Red
4,Fiction,Â£50.10,One,Soumission
...,...,...,...,...
995,Sequential Art,Â£57.06,Four,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)"
996,Classics,Â£55.53,One,Alice in Wonderland (Alice's Adventures in Won...
997,Travel,Â£26.08,Five,"1,000 Places to See Before You Die"
998,Mystery,Â£53.98,One,1st to Die (Women's Murder Club #1)
999,Historical Fiction,Â£16.97,Five,A Spy's Devotion (The Regency Spies of London #1)

In [45]:
books["rating"]

0      Three
1        One
2        One
3        One
4        One
       ...
995     Four
996      One
997     Five
998      One
999     Five
Name: rating, Length: 1000, dtype: object

In [46]:
books.iloc[:2]

             category   price rating                 title
0              Poetry  Â£51.77  Three  A Light in the Attic
1  Historical Fiction  Â£53.74    One    Tipping the Velvet

### SQLite

In [3]:
import sqlite3 as db

In [4]:
db

In [18]:
db.sqlite_version

'3.39.4'

In [19]:
db.sqlite_version_info

(3, 39, 4)

In [5]:
connection = db.connect('sample.db')  # create DB file

In [17]:
connection

In [21]:
connection.execute('drop table if exists holiday')

In [22]:
connection.execute('create table holiday(ID int, Title text, Date text)')  # create table

#### Insert rows into table

In [23]:
connection.execute('insert into holiday(ID, Title, Date) values (1,"New Year Day","2023-01-01")')
connection.execute('insert into holiday(ID, Title, Date) values (2,"Good Friday","2023-04-07")')
connection.execute('insert into holiday(ID, Title, Date) values (3,"Christmas Day","2023-12-25")')
connection.execute('insert into holiday(ID, Title, Date) values (4,"Columbus Day","2023-10-09")')

In [26]:
connection.commit()  # commit the insertion

#### Read data from table

In [6]:
result = connection.execute('select * from holiday')

In [7]:
for row in result:
    print(row)

(1, 'New Year Day', '2023-01-01')
(2, 'Good Friday', '2023-04-07')
(3, 'Christmas Day', '2023-12-25')
(4, 'Columbus Day', '2023-10-09')

In [21]:
cursor = connection.cursor()
cursor.execute('select * from holiday')
results = cursor.fetchall()

In [22]:
results

[(1, 'New Year Day', '2023-01-01'),
 (2, 'Good Friday', '2023-04-07'),
 (3, 'Christmas Day', '2023-12-25'),
 (4, 'Columbus Day', '2023-10-09')]

In [25]:
result = cursor.execute('select * from holiday')
result.fetchone()

(1, 'New Year Day', '2023-01-01')

#### write data to CSV

In [27]:
dbConnect = db.connect('sample.db')
holidayData = pd.read_sql('select * from holiday' ,dbConnect)
holidayData.to_csv('holiday_sqlite.csv')
holidayData.to_csv('holiday_sqlite_noindex.csv', index=False)

#### List all table in sample.db

In [15]:
cursor.execute("select name from sqlite_master where type='table'")
tables = cursor.fetchall()
tables

[('holiday',)]

In [16]:
cursor.execute("select name from sqlite_temp_master where type='table'")
tempMaster = cursor.fetchall()
tempMaster

[]